* {
    background-color: lightseagreen;
}

table, table td {

    border: 1px solid black;
    background-color: blueviolet;

}
table.board td {
    padding: 30px;
}

table.board {
    margin-bottom: 20px;
}
 

td {

    padding: 30px;

}
button {
    margin-top: 30px;
}
body {
    margin-left: 25%;
    margin-top: 15%;
}
#newGame {
    background-color: rgb(205, 25, 221);
}

h1 {
    font-style:unset;

}